.row-create-new {
    margin-bottom: 2em;
}

.row-create-new .btn-create-new{
    font-size: 1.2em
}

.link-card-body {
    color: #222;
    text-decoration: none;
}
.link-card-body:hover {
    color: #222;
    text-decoration: none;
}

.card-botom .btn:first-child {
    margin-right: 2em;
}
.card-botom .btn {
    font-size: 1.3em;
}

.card-col {
    margin-bottom: 2em;
}